@import url(variable.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: var(--color-NegroUno);
}
header{
    display: flex;
    justify-content: space-between;

    color: var(--color-Naranja);
}
header ul{
    background: var(--color-Azul);
}
header li{
    list-style: none;
}
header li:hover{
    border: 1px solid var(--color-NegroUno);
}
header a{
    text-decoration: none;
    color: var(--color-Blanco);
}

section{
    height: 100vh;
    padding: 2em;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
button{
    color: var(--color-Blanco);
    background: var(--color-Naranja);
    height: 2em;
    width: auto;
    padding:0 1em;
}
h1{
    font-weight: 500;
    font-size: 2rem;
}

.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Home h1{
    text-align: center;
    color: var(--color-Naranja);
    font-size: 3rem;
}
.Home p{
    text-align: center;
    color: var(--color-Blanco);
    font-size: 1rem;
}
.Home div{
    display: flex;
    flex-direction: column;
}
.Home button{
    align-self:center;
    margin-top: 1em;
}

.About{
    display: flex;
    flex-direction: column;
}
.About div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-Blanco);
    gap: 1em;
}
.About div p:first-child{
    color: var(--color-Naranja);
}

.Menu{
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color-Blanco);
}
.Menu div div{
    background: var(--color-Piel);
    margin: 2em;
    padding: 1em;
    color: var(--color-NegroDos);
    position: relative;
}
.Menu div div p:last-child{
    color: var(--color-Naranja);
}
.Menu p:first-child{
    color: var(--color-Naranja);
    margin: 2em;
}
.Menu h1{
    font-size: 2em;
}
.Menu box-icon{
    position: absolute;
    top: 0;
    right: 0;
}

.Service{
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color-Blanco);
    gap: 1em;
}
.Service p:first-child{
    color: var(--color-Naranja);
}
.Service h2{
    color: var(--color-Naranja);
}
.Service div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    gap: 1em;
}
.Service div div img{
    padding:0 1em;
}

.Extra{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    text-align: center;
}
.Extra div{
    background: var(--color-Piel);
    padding: 1em;
}
.Extra h1{
    padding-bottom: 1em;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 2em;
    color: var(--color-Blanco);
    gap: 1em;
}
footer div div{
    height: 1px;
    background: var(--color-Naranja);
    width: 5em;
    margin-bottom: 1.5em;
}
footer div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer div div:last-child{
    display: flex;
    gap: 1em;
}