:root{
    --color-fondo:#ffffff;
    --color-producto: #44c0c0;
    --color-Boton:#123302;
    --color-Boton-letras:var(--color-fondo);
    --color-fondo2:#ffc0c0;
    --color-letras:var(--color-Boton);
}