<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/carrito.css">
    <script src="../Js/main.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <main>
        <section class="Barra">
            <h1>CampusShop</h1>
            <button onclick="Desplegable()" class="btn">
                <box-icon name='menu'></box-icon>
            </button>
            <div class="Menu" id="Menu">
                <li><a href="../index.html">Todos los productos</a></li>
                <li><a href="../views/abrigos.html">Abrigos</a></li>
                <li><a href="../views/camisas.html">Camisetas</a></li>
                <li><a href="../views/pantalones.html">Pantalones</a></li>
            </div>
            <ul>
                <li class="Selecion"><a href="../views/carrito.html">Carrito (2)</a></li>
            </ul>
            <p>2023 Camper</p>
        </section>
        <section class="content">
            <h1>Carrito</h1>
            <article>
                <div class="producto Camisas">
                    <img src="../Storage/img/camisas/04.png" alt="">
                    <div>
                        <p>Sony</p>
                        <p>Camisas 04</p>
                    </div>
                    <div>
                        <p>Cantidad</p>
                        <span>4</span>
                    </div>
                    <div>
                        <p>Precio</p>
                        <p>$ 1500</p>
                    </div>
                    <div>
                        <p>SubTotal</p>
                        <p>$ 6000</p>
                    </div>
                    <a href="carritoCuatro.html">
                        <box-icon type='solid' name='x-circle'></box-icon>
                    </a>
                </div>
                <div class="producto Pantalon">
                    <img src="../Storage/img/pantalones/02.png" alt="">
                    <div>
                        <p>tony</p>
                        <p>Pantalon 02</p>
                    </div>
                    <div>
                        <p>Cantidad</p>
                        <span>2</span>
                    </div>
                    <div>
                        <p>Precio</p>
                        <p>$ 2000</p>
                    </div>
                    <div>
                        <p>SubTotal</p>
                        <p>$ 4000</p>
                    </div>
                    <a href="carritoCinco.html ">
                        <box-icon type='solid' name='x-circle'></box-icon>
                    </a>
                </div>
            </article>
            <div class="piede">
                <a href="carritoVacio.html">
                    <button>Vaciar Carrito</button>
                </a>
                <div>
                    <div>
                        <p>Total</p>
                        <p>$ 10000</p>
                    </div>
                    <a href="#">
                        <button>Comparar Ahora</button>
                    </a>
                </div>
            </div>
        </section>
        <section class="BarraDos">
            <ul>
                <li class="Selecion"><a href="../views/carrito.html">Carrito (2)</a></li>
            </ul>
            <p>2023 Camper</p>
        </section>
    </main>
</body>
</html>