<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Carrito</title>
    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" href="../css/carrito.css"> -->
    <script type="module" src="../../src/js/main.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>
    <main>
        <section class="Barra">
            <h1>CampusShop</h1>
            <button onclick="Desplegable()" class="btn">
                <box-icon name='menu'></box-icon>
            </button>
            <div class="Menu" id="Menu">
                <li><a href="../../index.html">Retornat a compar</a></li>
            </div>
            <ul>
                <li class="Selecion"><a href="../src/views/carrito.html">Carrito (3)</a></li>
            </ul>
            <p>2023 Camper</p>
        </section>
        <section class="content">
            <h1>Carrito</h1>
            <article>
                <productos-carrito></productos-carrito>
            </article>
                <total-apagar></total-apagar>
            <!-- <div class="piede">
                <a href="carritoVacio.html">
                    <button>Vaciar Carrito</button>
                </a>
                <div>
                    <div>
                        <p>Total</p>
                        <p>$ 12000</p>
                    </div>
                    <a href="#">
                        <button>Comparar Ahora</button>
                    </a>
                </div>
            </div> -->
        </section>
        <section class="BarraDos">
            <barra-dos></barra-dos>
            <!-- <ul>
                <li class="Selecion"><a href="carrito.html">Carrito (3)</a></li>
            </ul> -->
            <escucha-activa></escucha-activa>
            <p>2023 Camper</p>
        </section>
    </main>
</body>

</html>