@import url(variable.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

li, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    background: var(--color-fondo);
    height: 100vh;
}
main {
    
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* padding: 1em; */
    
}
/* Barra derrecha */

.Barra {
    /* position:fixed ; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0 ;
}

.Barra a, .Barra h1 {
    padding: 0 2em ;
    color: var(--color-letras);
}
.Barra p{
    padding: 0 2em ;
    color: var(--color-producto);
}

.Barra li {
    padding: 1em 0;
}

.Selecion {
    text-align: center;
    background-color: var(--color-w);;
    border-radius: 2em 0 0 2em;
    font-weight: bold;    
}

.Selecion a{
    color: var(--color-Boton-letras);
}

/* mostrador  */

.content {
    border: 1px solid var(--color-Boton);
    padding: 2em;
    border-radius: 3em;
    background: var(--color-fondo);
    /* height: 90vh; */
    overflow: hidden;
}

.content h1 {
    padding: 0 0 1em 0;
    font-size: 2rem;
}


button {
    height: 2em;
    width: 7em;

    border-radius: .5em;
    background: var(--color-Boton);
    color: var(--color-Boton-letras);
}

.BarraDos {
    display: none;
}

.btn {
    display: none;
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 8% auto 8%;

        padding: .5em;
    }

    .Barra {
        height: 3em;
        flex-direction: row;
        padding: 1em 0;
    }

    .Barra ul {
        display: none;
    }

    .Barra p:last-child {
        display: none;
    }

    .Barra li {
        padding: .5em 0;
    }

    .Menu {
        display: none;
    }

    .btn {
        display: block;

        height: 3em;
        width: 3em;

        border-radius: .5em;
        background: transparent;
        /* color: var(--color-Boton-letras); */
    }

    .visible {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 2em;

        /* border: 1px solid var(--color-fondo2); */
        background-color: var(--color-fondo2);
        position: absolute;
        margin-top: 8%;
        width: 97%;
        z-index: 1;
    }


    .Selecion {
        text-align: start;
        border: 0;
        font-weight: normal;
    }

    .content {
        padding: 1em;
        border-radius: 2em;
    }

    .content h1 {
        padding: 0 0 .5em 0;
        font-size: 1.5rem;
        text-align: center;
    }

    article {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5em;
    }

    button {
        width: 5em;
    }

    .BarraDos {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 1em 0;
    }
}