:root {
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
    --color-w: #d1d5d6; 
    --color-fondo: #97a13e;
    --color-producto: #b1b174;
    --color-Boton: #f3b20f88;
    --color-Boton-letras: #58720b;
    --color-letras: #fff;
}
